@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #444;
  font-size: 1.6rem; }

.heading-primary {
  text-transform: uppercase;
  font-size: 6.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #080f39;
  animation: moveInDown 0.8s ease-in; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  color: #273272;
  animation: moveInUp 0.8s ease-in; }

.subheading {
  color: #222;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-top: 5rem;
  animation: moveInLeft 0.8s ease-in; }

.margin-right-sm {
  margin-right: 2rem; }

.btn, .btn:link, .btn:visited {
  font-size: 2.4rem;
  animation: all 3s ease-in-out;
  padding: 2rem 3rem;
  border-radius: 10rem; }

.btn--primary {
  background-color: #273272;
  color: #fff; }
  .btn--primary:hover, .btn--primary:active {
    background-color: #cdcdcd;
    color: #080f39; }

.btn--secondary {
  background-color: #878fb8;
  color: #273272; }
  .btn--secondary:hover, .btn--secondary:active {
    background-color: #cdcdcd;
    color: #fff; }

.section-features {
  margin-bottom: 10rem; }

.features-container {
  width: 100%;
  display: flex; }

.feature {
  padding: 4rem 2rem;
  flex: 0 0 33.3333%;
  transition: all 0.2s ease-in; }
  .feature__title {
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #fff; }
  .feature__desc {
    font-size: 2.4rem;
    text-align: center;
    color: #273272; }
  .feature--1 {
    background-color: rgba(102, 206, 214, 0.8); }
  .feature--2 {
    background-color: rgba(109, 138, 150, 0.8); }
  .feature--3 {
    background-color: rgba(135, 143, 184, 0.8); }
  .feature:hover {
    border-top: 1rem solid currentColor;
    background-color: #fff; }
    .feature:hover .feature__title {
      color: #444; }
    .feature:hover .feature__desc {
      color: #66ced6; }

a {
  text-decoration: none; }

.header {
  display: flex;
  background-color: #fff;
  align-items: flex-start;
  justify-content: space-between;
  color: #444; }
  .header__logo {
    display: flex;
    margin-left: 4rem;
    font-size: 3.8rem;
    align-self: center; }
  .header__nav {
    display: flex;
    font-size: 1.8rem; }
  .header__btns {
    display: flex;
    align-items: center;
    margin: auto auto;
    justify-content: center; }

.nav {
  list-style: none; }
  .nav__submenu-header {
    list-style: none;
    font-size: 2.4rem;
    margin: 8rem 4rem; }
    .nav__submenu-header--about:hover .nav__submenu--about {
      display: block; }
    .nav__submenu-header--courses:hover .nav__submenu--courses {
      display: block; }
    .nav__submenu-header--resources:hover .nav__submenu--resources {
      display: block; }
    .nav__submenu-header--contact:hover .nav__submenu--contact {
      display: block; }
  .nav__submenu {
    display: none;
    position: fixed;
    list-style: none;
    background-image: linear-gradient(rgba(135, 143, 184, 0.5), rgba(8, 15, 57, 0.5));
    padding: 2rem; }
  .nav__submenu-item:link, .nav__submenu-item:visited {
    color: #fff; }
  .nav__submenu-item:hover, .nav__submenu-item:active {
    box-shadow: inset 3rem 3rem 3rem rgba(0, 0, 0, 0.3);
    color: #fff; }

.section-hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/hero-img.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.hero__text-box {
  width: 70%;
  height: 45%; }

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #273272;
  color: #fff;
  font-size: 2.5rem; }
  .topbar a:link, .topbar a:visited {
    color: #fff;
    transition: all 0.3s; }
  .topbar a:hover {
    color: #66ced6;
    box-shadow: 0 2rem 2rem rgba(255, 255, 255, 0.7); }
  .topbar__contact {
    margin-left: 2rem; }
  .topbar__phone {
    margin: 0.8rem; }
  .topbar__email {
    margin: 0.8rem; }
  .topbar__social {
    margin-right: 2rem; }
  .topbar__icon {
    margin: 0.8rem; }

.home-container {
  display: grid;
  grid-template-rows: 10vh 20vh 70vh 30rem; }
