$color-primary: #273272;
$color-primary-light: #878fb8;
$color-primary-dark: #080f39;

$color-secondary: #66ced6;

$color-tertiary: #6d8a96;

$color-grey: #444;
$color-grey-light: #cdcdcd;
$color-grey-dark: #222;

$color-white: #fff;
$color-black: #000;
