$color-primary: #273272;
$color-primary-light: #658e9c;
$color-primary-dark: #0f1e71;
$color-secondary: #ec368d;

$color-grey: #444;
$color-grey-light: #cdcdcd;
$color-grey-dark: #222;

$color-white: #fff;
$color-black: #000;
